/* style.scss */

$gray-1: #E6E7E8;
$gray-2: #BEBFC2;
$gray-3: #999B9D;
$blue-1: #6CCBF3;
$blue-2: #47C3F1;
$blue-3: #248AAF;
$blue-4: #17627E;

body {
    background: gray-1;
}

h1 {
    color: $gray-3;
    font-family: "Ubuntu", Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.container {

}

.center {
    margin: 0 auto;
}

.wheel {
    width: 600px;
}

.quarter-circle {
    width: 300px;
    height: 300px;
    float: left;
}

.top-left {
     background: $blue-1;
     -moz-border-radius: 300px 0 0 0;
     -webkit-border-radius: 300px 0 0 0;
}

.top-right {
     background: $blue-2;
     -moz-border-radius: 0 300px 0 0;
     -webkit-border-radius: 0 300px 0 0;
}

.bottom-right {
    background: $blue-3;
    -moz-border-radius: 0 0 0 300px;
    -webkit-border-radius: 0 0 0 300px;
}

.bottom-left {
     background: $blue-4;
     -moz-border-radius: 0 0 300px 0;
     -webkit-border-radius: 0 0 300px 0;
}