/* style.scss */
body {
  background: #e6e7e8;
  margin-top: 50px; }

h1 {
  color: #999b9d;
  font-family: "Ubuntu", Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase; }

.center {
  margin: 0 auto; }

.center-circle-1 {
  position: absolute;
  margin-top: 125px;
  margin-left: 125px;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  background: #999b9d; }

.center-circle-2 {
  position: absolute;
  margin-top: 135px;
  margin-left: 135px;
  height: 130px;
  width: 130px;
  border-radius: 130px;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  background: #e6e7e8; }

.center-circle-3 {
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
  height: 450px;
  width: 450px;
  border-radius: 450px;
  -moz-border-radius: 450px;
  -webkit-border-radius: 450px;
  background: #999b9d;
  z-index: -2; }

.center-circle-4 {
  position: absolute;
  margin-top: 175px;
  margin-left: 175px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: #999b9d; }

.wheel {
  margin: 55px auto;
  width: 400px; }

.quarter-circle {
  width: 200px;
  height: 200px;
  float: left; }

.quarter-circle:hover {
  opacity: 0.8;
  cursor: pointer;
  z-index: -1; }

.top-left {
  background: #6ccbf3;
  -moz-border-radius: 200px 0 0 0;
  -webkit-border-radius: 200px 0 0 0; }

.top-right {
  background: #47c3f1;
  -moz-border-radius: 0 200px 0 0;
  -webkit-border-radius: 0 200px 0 0; }

.bottom-right {
  background: #248aaf;
  -moz-border-radius: 0 0 0 200px;
  -webkit-border-radius: 0 0 0 200px; }

.bottom-left {
  background: #17627e;
  -moz-border-radius: 0 0 200px 0;
  -webkit-border-radius: 0 0 200px 0; }
