/* style.scss */
body {
  background: gray-1;
  margin-top: 30px; }

h1 {
  color: #999b9d;
  font-family: "Ubuntu", Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase; }

.center {
  margin: 0 auto; }

.wheel {
  margin: 0 auto;
  width: 400px; }

.quarter-circle {
  width: 200px;
  height: 200px;
  float: left; }

.quarter-circle:hover {
  opacity: 0.8;
  cursor: pointer; }

.top-left {
  background: #6ccbf3;
  -moz-border-radius: 200px 0 0 0;
  -webkit-border-radius: 200px 0 0 0; }

.top-right {
  background: #47c3f1;
  -moz-border-radius: 0 200px 0 0;
  -webkit-border-radius: 0 200px 0 0; }

.bottom-right {
  background: #248aaf;
  -moz-border-radius: 0 0 0 200px;
  -webkit-border-radius: 0 0 0 200px; }

.bottom-left {
  background: #17627e;
  -moz-border-radius: 0 0 200px 0;
  -webkit-border-radius: 0 0 200px 0; }
